/*Limpar formatações padrões*/
*{
	margin: 0;
	padding: 0;
}

/*configuração total da página*/

#geral{
	position: relative;
	padding-bottom: 30px;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #E31522;
}

.vermelho{
	color: #E31522;
}

/*Formatação do menu*/
a{
	text-decoration: none;
	padding: 5px 10px;
	color: #E31522;
}

a:hover{
	color: white;
}

/*Links não visitados*/
.menu a:link{
	color: #E31522;
}
/*Links visitados*/
.menu a:visited{
	color: #E31522;
}
/*Links hover*/
.menu a:hover{
	color: #000;
	background: #E31522;
}
/*Links active*/
.menu a:active{
	color: #fff;
}

/*cabeçalho*/

header{
	background: #FFF;
	border-bottom: 8px solid #000;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
}

.area{
	width: 720px;
	margin: 0 auto;
}

.logo{
	float: left;
}

.logoimg{
	margin-top: -10px;
	margin-left: -10px;
	width: 70px;
}

.menu{
	float: right;
	padding: 10px 0;
}

/*finalizado cabeçalho*/

/*organização index*/

section{
	margin: 50px auto;
	width: 450px;
}

/*Organização bolha grande*/
.bolha{
	font-size: 18pt;
	padding: 60px;
	width: 370px;
	height: 370px;
	border-radius: 50%;
	margin: 50px 50px 50px -10px;
	text-align: center;
	background: black;	
	color: white;
}

/*fim bolha grande*/

/*conteudo dentro da bolha (ou não)*/
.conteudo{
	margin-left: 10px;
	margin-top: 50px;
	text-align: center;
}

.conteudo h1{
	font-size: 40pt;
}

/*Fim conteudo*/

/*Espaço para 'ferramentas que utilizo'*/

.bolhinha{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 20px;
	background: black;	
	position: relative;

}

.bolhinha img{
	max-height: 75%;
	max-width: 75%
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 15px;
}

.ferramentas{
	margin-left: -450px;
	height: 100px;
	display: inline-flex;
	float: left;
}

li{
	list-style-type: none;
}
/*Fim da index*/

/*Portfólio*/

.portfolio{
	width: 720px;
	margin: 55px auto 10px auto;
}

.projeto{
	padding: 10px;
	padding-bottom: 110px;
	margin-bottom: 10px;
	background: black;
	color: white;
}

.projeto h1{
	color: white;
	margin-left: 20px;
}

.imgprojeto{
	float: left;
	margin: 5px 10px 5px 0;
	max-height: 230px;
}

/*fim portfolio*/

/*contato*/

.bolhacontato{
	font-size: 25pt;
	padding: 80px 90px 80px 55px;
	width: 350px;
	height: 330px;
	border-radius: 50%;
	margin: 30px 50px 50px -15px;
	text-align: center;
	background: black;	
	color: white;
}

/*fim contato*/

/*footer*/

footer{
margin-top: 100px;
width: 100%;
height: 50px;
bottom: 0;
position: relative;
}